.background {
  background-color: whitesmoke;
  width: 350px;
  height: 700px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
